files:
  # Based on https://docs.mongodb.com/manual/tutorial/install-mongodb-on-amazon/ for AMI "Amazon Linux 2"
  # But this could be migrated to the .platform/hooks/prebuild folder as per https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/platforms-linux-extend.html
  # We aren't installing MongoDB the server, just the tools to connect to MongoDB Atlas, but you can change this if you need a local instance (for running tests?)

  # NOTE: This is the same as what's configured in .platform/hooks/prebuild/03-mongodb-install.sh but this should take precedence

  "/etc/yum.repos.d/mongodb-org-5.0.repo":
    mode: "000644"
    owner: root
    group: root
    content: |
      [mongodb-org-5.0]
      name=MongoDB Repository
      baseurl=https://repo.mongodb.org/yum/amazon/2/mongodb-org/5.0/x86_64/
      gpgcheck=1
      enabled=1
      gpgkey=https://www.mongodb.org/static/pgp/server-5.0.asc
# commands:
#  05-install-mongodb:
#    command: yum install -y mongodb-org-shell mongodb-org-tools
