packages:
  yum:
    curl: [ ]
    git: [ ]
    gcc: [ ]
    # nc = Netcat and it's used by the Tensorflow server cron
    nmap-ncat: [ ]
    # jq is needed for setting environment vars
    jq: [ ]
    # Extra PHP modules
    php-pear: [ ]
    php-devel: [ ]
    php-intl: [ ]
    php-json: [ ]
    php-mbstring: [ ]
    php-process: [ ]
    # We use Image Magick on Drivible for PDF file processing
    ImageMagick: [ ]
    ImageMagick-devel: [ ]
    # HTOP is great for easy server monitoring when you've eb ssh'd into a machine
    htop: [ ]
commands:
  00-set-vars:
    # Based on https://aws.amazon.com/premiumsupport/knowledge-center/elastic-beanstalk-env-variables-shell/ this sets the environment vars as exports in the default SSH shells so we can run CLI calls
    command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local
#  20-updateComposer:
#    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update 1.7.2 && /usr/bin/composer.phar global require "fxp/composer-asset-plugin:~1.2"
container_commands:
  10-custom-php-ini:
    # Not sure this will work as .ebextensions doesn't seem to exist in the app folder, but it might exist when this code is being run during the deployment process
    command: "cp .ebextensions/php.ini /etc/php.d/99-yii2-app.ini"
  20-redeploy-app:
    command: "./yii deploy/redeploy --force"
    leader_only: true
option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_DSN
    # This should be set in the EB environment to be replaced with the MongoDB Atlas address as we don't run a local MongoDB server
    value: mongodb://localhost:27017