files:
  "/etc/cron.d/yii":
    mode: "000644"
    owner: root
    group: root
    content: |
      PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

      # Example of job definition:
      # .---------------- minute (0 - 59)
      # |  .------------- hour (0 - 23)
      # |  |  .---------- day of month (1 - 31)
      # |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
      # |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
      # |  |  |  |  |
      # *  *  *  *  * user-name command to be executed
      *    *  *  *  * root php /var/app/current/yii cron/run
commands:
  remove_old_cron:
    # Based on https://aws.amazon.com/premiumsupport/knowledge-center/cron-job-elastic-beanstalk/
    command: "rm -f /etc/cron.d/yii.bak"