# Based on https://aws.amazon.com/premiumsupport/knowledge-center/elastic-beanstalk-https-configuration/#Terminate_HTTPs_on_the_instance_.28end-to-end_HTTPS.29_in_a_single-instance_environment
# This is for STAGING which runs a single instance Elastic Beanstalk EC2 server and we want to allow HTTPS on the server

# Enable this if you need

#Resources:
#  sslSecurityGroupIngress:
#    Type: AWS::EC2::SecurityGroupIngress
#    Properties:
#      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
#      IpProtocol: tcp
#      ToPort: 443
#      FromPort: 443
#      CidrIp: 0.0.0.0/0
