packages:
  yum:
    mod24_ssl: []
commands:
  20-updateComposer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update 1.7.2 && /usr/bin/composer.phar global require "fxp/composer-asset-plugin:~1.2"
container_commands:
  10-custom-php-ini:
    command: "cp .ebextensions/php.ini /etc/php.d/99-yii2-app.ini"
  20-redeploy-app:
    command: "./yii deploy/redeploy --force"
    leader_only: true
option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_DSN
    value: mongodb://localhost:27017