files:
  "/etc/yum.repos.d/mongodb-org-4.0.repo":
    mode: "000644"
    owner: root
    group: root
    content: |
      [mongodb-org-4.0]
      name=MongoDB Repository
      baseurl=https://repo.mongodb.org/yum/amazon/2013.03/mongodb-org/4.0/x86_64/
      gpgcheck=1
      enabled=1
      gpgkey=https://www.mongodb.org/static/pgp/server-4.0.asc
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/06-mongodb-install.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      if [ ! -f /usr/lib64/php/7.2/modules/mongodb.so ]; then
        yum install -y mongodb-org
        sed -i '/$v_att_list = & func_get_args();/c\$v_att_list = func_get_args();' /usr/share/pear7/Archive/Tar.php
        pecl7 install mongodb
      fi