{% set user = t.app().user.identity %}
<div class="site-index">
	<h2>Welcome</h2>
	
	{% if user %}
	<p>You are logged in as {{ user.username() }}</p>
	{% else %}
	<p>Please <a href="{{ t.load('app.models.User').getUrl('login') }}">Login</a></p>
	{% endif %}
</div>